@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&display=swap');
.DA {
  display: flex;
  justify-content: space-between;
}
h1 {
  width: 20;
  height: 64px;

  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 64px;
  /* identical to box height */

  /* Black */

  color: #202020;
}
